@charset "utf-8";
/* CSS Document */

body { padding:0; margin:0; font-family: 'Open Sans', sans-serif;}
a:hover { text-decoration:none;}
@media (min-width: 320px) and (max-width: 479px) {
.yp-home-page-bg { 
background:url(home-bg-page-1.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat
}
.yp-home-download-app-store { border:solid 2px #FFF; border-radius:4px; width:245px; margin:0 auto;
position:absolute; top:5%; left:0; right:0; color:#FFF; padding:10px 20px 10px 42px;
 background:url(yp-home-download-app-store-icon.png) no-repeat 10px 5px;}
 .yp-home-download-app-store:hover { background-color:#81c200}
 .yp-home-download-app-store a{ color:#FFF;}
.yp-home-download-app-store span { font-weight:bold}
.yp-home-fullsite-link {position:absolute; bottom:3%; margin:0 auto;left:0; right:0; width:120px; }
.yp-home-fullsite-link a {color:#FFF; }
.yp-home-view-job {border-radius:8px; width:238px; margin:0 auto;
position:absolute; bottom:10%; left:0; right:0; color:#FFF; padding:10px 20px 10px 20px; background-color:#81c200; font-size:24px; text-align:center}
.yp-home-view-job a { color:#FFF;}
.yp-home-view-job a:hover { color:#81c200;}
.yp-home-view-job:hover {color:#81c200 ; background-color:#FFF;}
.yp-home-view-job:hover a {color:#81c200 ;}

.yp-home-yapjobs-logo {width:30%; margin:0 auto; height:20%;position:absolute; top:30%; left:0; right:0;
background:url(yp-home-yapjobs-logo.png) no-repeat;background-size: 100% auto;}
.yp-home-tagline { color:#FFF; font-size:1em;width:85%; margin:0 auto;
position:absolute; bottom:30%; left:0; right:0; text-align: center}	
	
	}

@media (min-width: 480px) and (max-width: 600px) {
	.yp-home-page-bg { 
background:url(home-bg-page-1.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat
}
.yp-home-download-app-store { border:solid 2px #FFF; border-radius:4px; width:245px; margin:0 auto;
position:absolute; top:5%; left:0; right:0; color:#FFF; padding:10px 20px 10px 42px;
 background:url(../images/yp-home-download-app-store-icon.png) no-repeat 10px 5px;}
 .yp-home-download-app-store a{ color:#FFF }
.yp-home-download-app-store span { font-weight:bold}
.yp-home-fullsite-link {position:absolute; bottom:3%; margin:0 auto;left:0; right:0; width:120px; }
.yp-home-fullsite-link a {color:#FFF; }
.yp-home-view-job {border-radius:4px; width:238px; margin:0 auto;
position:absolute; bottom:10%; left:0; right:0; color:#FFF; padding:10px 20px 10px 20px; background-color:#81c200; font-size:24px; text-align:center}
.yp-home-view-job a { color:#FFF;}
.yp-home-view-job a:hover { color:#81c200;}
.yp-home-view-job:hover {color:#81c200; background-color:#FFF;}
.yp-home-view-job:hover a {color:#81c200 ;}
.yp-home-yapjobs-logo {width:20%; margin:0 auto; height:30%;position:absolute; top:35%; left:0; right:0;
background:url(../images/yp-home-yapjobs-logo.png) no-repeat;background-size: 100% auto;}
.yp-home-tagline { color:#FFF; font-size:1em;width:85%; margin:0 auto;
position:absolute; bottom:30%; left:0; right:0; text-align: center; display:none}	
	
	}
	
	@media (min-width: 601px) and (max-width: 767px) {
	.yp-home-page-bg { 
background:url(home-bg-page-1.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat
}
.yp-home-download-app-store { border:solid 2px #FFF; border-radius:4px; width:245px; margin:0 auto;
position:absolute; top:5%; left:0; right:0; color:#FFF; padding:10px 20px 10px 42px;
 background:url(yp-home-download-app-store-icon.png) no-repeat 10px 5px;}
  .yp-home-download-app-store a{ color:#FFF;}
.yp-home-download-app-store span { font-weight:bold}
.yp-home-fullsite-link {position:absolute; bottom:3%; margin:0 auto;left:0; right:0; width:120px; }
.yp-home-fullsite-link a {color:#FFF; }
.yp-home-view-job {border-radius:4px; width:238px; margin:0 auto;
position:absolute; bottom:10%; left:0; right:0; color:#FFF; padding:10px 20px 10px 20px; background-color:#81c200; font-size:24px; text-align:center}
.yp-home-view-job a { color:#FFF;}
.yp-home-view-job a:hover { color:#81c200;}
.yp-home-view-job:hover {color:#81c200; background-color:#FFF;}
.yp-home-view-job:hover a {color:#81c200 ;}
.yp-home-yapjobs-logo {width:20%; margin:0 auto; height:30%;position:absolute; top:35%; left:0; right:0;
background:url(yp-home-yapjobs-logo.png) no-repeat;background-size: 100% auto;}
.yp-home-tagline { color:#FFF; font-size:1em;width:85%; margin:0 auto;
position:absolute; bottom:30%; left:0; right:0; text-align: center;}	
	
	}
	
@media (min-width: 768px) and (max-width: 1023px) {
	.yp-home-page-bg { 
background:url(home-bg-page-1.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat
}
.yp-home-download-app-store { border:solid 2px #FFF; border-radius:4px; width:245px; margin:0 auto;
position:absolute; top:5%; left:0; right:0; color:#FFF; padding:10px 20px 10px 42px;
 background:url(yp-home-download-app-store-icon.png) no-repeat 10px 5px;}
  .yp-home-download-app-store a{ color:#FFF;}
.yp-home-download-app-store span { font-weight:bold}
.yp-home-fullsite-link {position:absolute; bottom:3%; margin:0 auto;left:0; right:0; width:120px; }
.yp-home-fullsite-link a {color:#FFF; }
.yp-home-view-job {border-radius:4px; width:238px; margin:0 auto;
position:absolute; bottom:10%; left:0; right:0; color:#FFF; padding:10px 20px 10px 20px; background-color:#81c200; font-size:24px; text-align:center}
.yp-home-view-job a { color:#FFF;}
.yp-home-view-job a:hover { color:#81c200;}
.yp-home-view-job:hover {color:#81c200; background-color:#FFF;}
.yp-home-view-job:hover a {color:#81c200 ;}
.yp-home-yapjobs-logo {width:30%; margin:0 auto; height:20%;position:absolute; top:35%; left:0; right:0;
background:url(yp-home-yapjobs-logo.png) no-repeat;background-size: 100% auto;}
.yp-home-tagline { color:#FFF; font-size:2em;width:85%; margin:0 auto;
position:absolute; bottom:20%; left:0; right:0; text-align: center}	
	
	}
@media (min-width: 1024px) and (max-width: 2000px) {
	.yp-home-page-bg { 
background:url(home-bg-page-1.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat
}
.yp-home-download-app-store { border:solid 2px #FFF; border-radius:4px; width:245px; margin:0 auto;
position:absolute; top:5%; left:0; right:0; color:#FFF; padding:10px 20px 10px 42px;
 background:url(yp-home-download-app-store-icon.png) no-repeat 10px 5px;}
  .yp-home-download-app-store a{ color:#FFF;}
.yp-home-download-app-store span { font-weight:bold}
.yp-home-fullsite-link {position:absolute; bottom:3%; margin:0 auto;left:0; right:0; width:120px; }
.yp-home-fullsite-link a {color:#FFF; }
.yp-home-view-job {border-radius:4px; width:238px; margin:0 auto;
position:absolute; bottom:10%; left:0; right:0; color:#FFF; padding:10px 20px 10px 20px; background-color:#81c200; font-size:24px; text-align:center}
.yp-home-view-job a { color:#FFF;}
.yp-home-view-job a:hover { color:#81c200;}
.yp-home-view-job:hover {color:#81c200; background-color:#FFF;}
.yp-home-view-job:hover a {color:#81c200 ;}
.yp-home-yapjobs-logo {width:20%; margin:0 auto; height:20%;position:absolute; top:35%; left:0; right:0;
background:url(yp-home-yapjobs-logo.png) no-repeat;background-size: 100% auto;}
.yp-home-tagline { color:#FFF; font-size:2em;width:60%; margin:0 auto;
position:absolute; bottom:25%; left:0; right:0; text-align: center}		
	
	}



