@charset "utf-8";
/* CSS Document */

body { padding:0; margin:0; font-family: 'Open Sans', sans-serif;}
@media (min-width: 320px) and (max-width: 479px) {
.yp-header { background-color:#81c200; padding:0px;}
.yp-header-left-btn { float:left; width:20%; border:solid 0px #FFF; text-align:left}
.yp-header-left-btn-icon {width:45px; height:45px; border:solid 0px;margin:0px; padding:10px 14px;}
.yp-header-left-btn-icon:hover {background-color:#185271} 
.yp-header-logo{float:left; width:60%; border:solid 0px #FFF;display:block; text-align:center}
.yp-header-logo-icon{ width:65px; height:32px; border:solid 0px; margin:0 auto; padding-top:5px;}
.yp-header-logo-icon img{ width:100%; height:auto;}
.yp-header-next-btn{float:right;width:20%;border:solid 0px #FFF;text-align:right}	
.yp-header-next-btn-icon{width:45px; height:45px; border:solid 0px; float:right; padding:10px 11px;}	
.yp-header-next-btn-icon:hover {background-color:#185271}


.yp-list { background-color:#ffffff; border-bottom:solid 1px #d2d2d2; padding:10px;}
.yp-list:hover { background-color:#e7e7e7; }
.yp-list-left { float:left; width:20%; border:solid 0px; }
.yp-list-left-icon { background-color:#f6f6f6;border-radius:100px; border: solid 1px #e1e1e1; padding:10px; width:50px; margin-top:3px;}

.yp-list-content { float:left; width:80%; background:url(yp-list-arrow-icon.png) no-repeat right;border:solid 0px;}
.yp-list-content-job-title { font-size:16px; color:#3b3a3a}
.yp-list-content-address { font-size:12px; color:#81c200;margin-top:-2px;}
.yp-list-content-footer {border:solid 0px; margin-top:4px;}
.yp-list-content-footer-distance{ float:left; background:url(yp-list-footer-distance-icon.png) no-repeat 0px 2px; font-size:11px; padding-left:10px;}
.yp-list-content-footer-distance a { color:#000!important}
.yp-list-content-footer-salary{ float:left; background:url(yp-list-footer-currency-icon.png) no-repeat 0px 2px;font-size:11px;padding-left:10px; margin-left:10px;}
.yp-list-content-footer-salary a { color:#000!important}
	}
	
	@media (min-width: 480px) and (max-width: 639px) {
.yp-header { background-color:#81c200; padding:0px;}
.yp-header-left-btn { float:left; width:20%; border:solid 0px #FFF; text-align:left}
.yp-header-left-btn-icon {width:45px; height:45px; border:solid 0px;margin:0px; padding:10px 14px;}
.yp-header-left-btn-icon:hover {background-color:#185271} 
.yp-header-logo{float:left; width:60%; border:solid 0px #FFF;display:block; text-align:center}
.yp-header-logo-icon{ width:65px; height:32px; border:solid 0px; margin:0 auto; padding-top:5px;}
.yp-header-logo-icon img{ width:100%; height:auto;}
.yp-header-next-btn{float:right;width:20%;border:solid 0px #FFF;text-align:right}	
.yp-header-next-btn-icon{width:45px; height:45px; border:solid 0px; float:right; padding:10px 11px;}	
.yp-header-next-btn-icon:hover {background-color:#185271}



.yp-list { background-color:#ffffff; border-bottom:solid 1px #d2d2d2; padding:10px;}
.yp-list:hover { background-color:#e7e7e7; }
.yp-list-left { float:left; width:15%; border:solid 0px; }
.yp-list-left-icon { background-color:#f6f6f6;border-radius:100px; border: solid 1px #e1e1e1; padding:10px; width:50px; margin-top:3px;}
.yp-list-content { float:left; width:85%; background:url(yp-list-arrow-icon.png) no-repeat right;border:solid 0px;}
.yp-list-content-job-title { font-size:16px; color:#3b3a3a}
.yp-list-content-address { font-size:12px; color:#81c200;margin-top:-2px;}
.yp-list-content-footer {border:solid 0px; margin-top:4px;}
.yp-list-content-footer-distance{ float:left; background:url(yp-list-footer-distance-icon.png) no-repeat 0px 2px; font-size:11px; padding-left:10px;}
.yp-list-content-footer-salary{ float:left; background:url(yp-list-footer-currency-icon.png) no-repeat 0px 2px;font-size:11px;padding-left:10px; margin-left:10px;}

	}
	
		@media (min-width: 640px) and (max-width: 767px) {
.yp-header { background-color:#81c200; padding:0px;}
.yp-header-left-btn { float:left; width:20%; border:solid 0px #FFF; text-align:left}
.yp-header-left-btn-icon {width:45px; height:45px; border:solid 0px;margin:0px; padding:10px 14px;}
.yp-header-left-btn-icon:hover {background-color:#185271} 
.yp-header-logo{float:left; width:60%; border:solid 0px #FFF;display:block; text-align:center}
.yp-header-logo-icon{ width:65px; height:32px; border:solid 0px; margin:0 auto; padding-top:5px;}
.yp-header-logo-icon img{ width:100%; height:auto;}
.yp-header-next-btn{float:right;width:20%;border:solid 0px #FFF;text-align:right}	
.yp-header-next-btn-icon{width:45px; height:45px; border:solid 0px; float:right; padding:10px 11px;}	
.yp-header-next-btn-icon:hover {background-color:#185271}



.yp-list { background-color:#ffffff; border-bottom:solid 1px #d2d2d2; padding:10px;}
.yp-list:hover { background-color:#e7e7e7; }
.yp-list-left { float:left; width:12%; border:solid 0px; }
.yp-list-left-icon { background-color:#f6f6f6;border-radius:100px; border: solid 1px #e1e1e1; padding:10px; width:50px; margin-top:3px;}
.yp-list-content { float:left; width:88%; background:url(yp-list-arrow-icon.png) no-repeat right;border:solid 0px;}
.yp-list-content-job-title { font-size:16px; color:#3b3a3a}
.yp-list-content-address { font-size:12px; color:#81c200;margin-top:-2px;}
.yp-list-content-footer {border:solid 0px; margin-top:4px;}
.yp-list-content-footer-distance{ float:left; background:url(yp-list-footer-distance-icon.png) no-repeat 0px 2px; font-size:11px; padding-left:10px;}
.yp-list-content-footer-salary{ float:left; background:url(yp-list-footer-currency-icon.png) no-repeat 0px 2px;font-size:11px;padding-left:10px; margin-left:10px;}

	}
	
			@media (min-width: 768px) and (max-width: 1023px) {
.yp-header { background-color:#81c200; padding:0px;}
.yp-header-left-btn { float:left; width:20%; border:solid 0px #FFF; text-align:left}
.yp-header-left-btn-icon {width:45px; height:45px; border:solid 0px;margin:0px; padding:10px 14px;}
.yp-header-left-btn-icon:hover {background-color:#185271} 
.yp-header-logo{float:left; width:60%; border:solid 0px #FFF;display:block; text-align:center}
.yp-header-logo-icon{ width:65px; height:32px; border:solid 0px; margin:0 auto; padding-top:5px;}
.yp-header-logo-icon img{ width:100%; height:auto;}
.yp-header-next-btn{float:right;width:20%;border:solid 0px #FFF;text-align:right}	
.yp-header-next-btn-icon{width:45px; height:45px; border:solid 0px; float:right; padding:10px 11px;}	
.yp-header-next-btn-icon:hover {background-color:#185271}



.yp-list { background-color:#ffffff; border-bottom:solid 1px #d2d2d2; padding:10px;}
.yp-list:hover { background-color:#e7e7e7; }
.yp-list-left { float:left; width:10%; border:solid 0px; }
.yp-list-left-icon { background-color:#f6f6f6;border-radius:100px; border: solid 1px #e1e1e1; padding:10px; width:50px; margin-top:3px;}
.yp-list-content { float:left; width:90%; background:url(yp-list-arrow-icon.png) no-repeat right;border:solid 0px;}
.yp-list-content-job-title { font-size:16px; color:#3b3a3a}
.yp-list-content-address { font-size:12px; color:#81c200;margin-top:-2px;}
.yp-list-content-footer {border:solid 0px; margin-top:4px;}
.yp-list-content-footer-distance{ float:left; background:url(yp-list-footer-distance-icon.png) no-repeat 0px 2px; font-size:11px; padding-left:10px;}
.yp-list-content-footer-salary{ float:left; background:url(yp-list-footer-currency-icon.png) no-repeat 0px 2px;font-size:11px;padding-left:10px; margin-left:10px;}

	}
	
	
				@media (min-width: 1024px) and (max-width: 2000px) {
.yp-header { background-color:#81c200; padding:0px;}
.yp-header-left-btn { float:left; width:20%; border:solid 0px #FFF; text-align:left}
.yp-header-left-btn-icon {width:45px; height:45px; border:solid 0px;margin:0px; padding:10px 14px;}
.yp-header-left-btn-icon:hover {background-color:#185271} 
.yp-header-logo{float:left; width:60%; border:solid 0px #FFF;display:block; text-align:center}
.yp-header-logo-icon{ width:65px; height:32px; border:solid 0px; margin:0 auto; padding-top:5px;}
.yp-header-logo-icon img{ width:100%; height:auto;}
.yp-header-next-btn{float:right;width:20%;border:solid 0px #FFF;text-align:right}	
.yp-header-next-btn-icon{width:45px; height:45px; border:solid 0px; float:right; padding:10px 11px;}	
.yp-header-next-btn-icon:hover {background-color:#185271}



.yp-list { background-color:#ffffff; border-bottom:solid 1px #d2d2d2; padding:10px;}
.yp-list:hover { background-color:#e7e7e7; }
.yp-list-left { float:left; width:8%; border:solid 0px; }
.yp-list-left-icon { background-color:#f6f6f6;border-radius:100px; border: solid 1px #e1e1e1; padding:10px; width:50px; margin-top:3px;}
.yp-list-content { float:left; width:92%; background:url(yp-list-arrow-icon.png) no-repeat right;border:solid 0px;}
.yp-list-content-job-title { font-size:16px; color:#3b3a3a}
.yp-list-content-address { font-size:12px; color:#81c200;margin-top:-2px;}
.yp-list-content-footer {border:solid 0px; margin-top:4px;}
.yp-list-content-footer-distance{ float:left; background:url(yp-list-footer-distance-icon.png) no-repeat 0px 2px; font-size:11px; padding-left:10px;}
.yp-list-content-footer-salary{ float:left; background:url(yp-list-footer-currency-icon.png) no-repeat 0px 2px;font-size:11px;padding-left:10px; margin-left:10px;}

	}



.clearBoth { clear:both}