@charset "utf-8";
/* CSS Document */


@media (min-width: 320px) and (max-width: 767px) {
.yp-search-setting-section { padding:10px;}

.ui-corner-all {
	border-radius: 50px !important;
	}
	

.ui-slider-horizontal .ui-slider-handle {
	
	top: -0.3em;
margin-left: -0.6em;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	
	border: 0px solid #D3D3D3!important;
background: #81c200!important;
font-weight: normal;
color: #555;
	
	}
		
	.ui-slider-horizontal {height:6px!important;margin-top:3px!important;}
	.ui-widget-content {background:#eaeaea!important;border:0px!important; }
	.ui-slider .ui-slider-handle { width:17px!important; height:17px!important; }
	.ui-slider { margin-left:0px!important;}
	
	.yp-search-setting-label {  margin-bottom:10px; }
	.yp-search-setting-label-left{ color:#006699; font-size:14px; float:left;}
	.yp-search-setting-label-right {  font-size:12px;  float:right;}
	.yp-search-setting-input input[type="radio"] { background-color:#f5f5f5; border:none; color:#2b2b2b; font-size:12px; padding:10px 14px; width:100%; margin-bottom:20px;}
	.yp-search-setting-slider { margin-bottom:30px; margin-left:10px!important;margin-right:10px!important;}
	.yp-search-setting-slider-50 span { left:50%!important;}
	.yp-search-setting-slider-25 span { left:25%!important;}


	
	.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary
	{background-color: #81c200!important;
	border:none!important;
    color: #fff  !important;
	font-size:12px !important;

	}
	
	.btn-primary{background-color: #e9e9e9;
    border:none!important;
    color: #3b3a3a !important;
	font-size:12px !important;

	}
	
.yp-search-setting-btn {border-radius:4px; width:300px; margin:0 auto; color:#FFF; padding:8px 18px; background-color:#81c200 !important; font-size:16px; text-align:center}
.yp-search-setting-btn a { color:#FFF;}
.yp-search-setting-btn a:hover { color:#3b3a3a;}
.yp-search-setting-btn:hover {color:#3b3a3a ; background-color:#f5f5f5; border:solid 2px #81c200}
.yp-search-setting-btn:hover a {color:#3b3a3a ;}

.yp-set-dropdown-btn-group { width:100%;float:left; text-align:left; margin-bottom:20px;}
.yp-set-dropdown-btn {width:100%; float:left;text-align:left; display:block; background:url(../images/yp-set-dropdown-btn-icon.png) no-repeat right 15px;
font-size:13px; border: solid 0px; padding:8px 16px; background-color:#f5f5f5;}
.yp-set-dropdown-btn-icon {margin-right:10px !important;}
	
	}
	
	
@media (min-width: 768px) and (max-width: 2000px) {
.yp-search-setting-section { padding:20px;!important}

.ui-corner-all {
	border-radius: 50px !important;
	}
	

.ui-slider-horizontal .ui-slider-handle {
	
	top: -0.3em;
margin-left: -0.6em;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	
	border: 0px solid #D3D3D3!important;
background: #81c200!important;
font-weight: normal;
color: #555;
	
	}
		
	.ui-slider-horizontal {height:6px!important;margin-top:3px!important;}
	.ui-widget-content {background:#eaeaea!important;border:0px!important; }
	.ui-slider .ui-slider-handle { width:17px!important; height:17px!important; }
	.ui-slider { margin-left:0px!important;}
	
	.yp-search-setting-label {  margin-bottom:10px; }
	.yp-search-setting-label-left{ color:#006699; font-size:14px; float:left;}
	.yp-search-setting-label-right {  font-size:12px;  float:right;}
	.yp-search-setting-input input { background-color:#f5f5f5; border:none; color:#2b2b2b; font-size:12px; padding:10px 14px; width:100%; margin-bottom:20px;}
	.yp-search-setting-slider { margin-bottom:30px; margin-left:10px!important;margin-right:10px!important;}
	.yp-search-setting-slider-50 span { left:50%!important;}
	.yp-search-setting-slider-25 span { left:25%!important;}

	.yp-search-setting-input input[type="submit"] { background-color:#81c200; border:none; color:#fff; font-weight:normal;font-size:15px; padding:10px 14px; width:100%; margin-bottom:20px;}
	
	.yp-search-setting-input input[type="range"] { background-color:#fff;}

	/*Slider theme*/
.yp-search-setting-input input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6.4px;
  cursor: pointer;
  background: #e9e9e9;
}

.yp-search-setting-input input[type=range]:focus::-webkit-slider-runnable-track {
  background: #e9e9e9;
}

.yp-search-setting-input input[type=range]::-moz-range-track {
  width: 100%;
  height: 6.4px;
  cursor: pointer;
  background: #e9e9e9;
}

.yp-search-setting-input input[type=range]::-ms-track {
  width: 100%;
  height: 6.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.yp-search-setting-input input[type=range]::-ms-fill-lower {
  background: #e9e9e9;
}
.yp-search-setting-input input[type=range]:focus::-ms-fill-lower {
  background: #e9e9e9;
}
.yp-search-setting-input input[type=range]::-ms-fill-upper {
  background: #e9e9e9;
}
.yp-search-setting-input input[type=range]:focus::-ms-fill-upper {
  background: #e9e9e9;
}

.yp-search-setting-input input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border:2px solid #81c200;
  border-radius: 50%;
  background: #81c200;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
.yp-search-setting-input input[type=range]::-moz-range-thumb {
	border:2px solid #81c200;
  border-radius: 50%;
  background: #81c200;
  cursor: pointer;
}

/* All the same stuff for IE */
.yp-search-setting-input input[type=range]::-ms-thumb {
	border:2px solid #81c200;
  border-radius: 50%;
  background: #81c200;
  cursor: pointer;
}

	/*Slider theme*/

	.yp-search-setting-input input[type="submit"]:hover {color:#3b3a3a ; background-color:#f5f5f5; border:solid 2px #81c200}
	.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary
	{background-color: #81c200!important;
	border:none!important;
    color: #fff  !important;
	font-size:12px !important;

	}
	
	.btn-primary{background-color: #e9e9e9;
    border:none!important;
    color: #3b3a3a !important;
	font-size:12px !important;

	}
	
	.yp-search-setting-btn {border-radius:4px; width:300px; margin:0 auto; color:#FFF; padding:8px 18px; background-color:#81c200; font-size:16px; text-align:center}
.yp-search-setting-btn a { color:#FFF;}
.yp-search-setting-btn a:hover { color:#3b3a3a;}
.yp-search-setting-btn:hover {color:#3b3a3a ; background-color:#f5f5f5; border:solid 2px #81c200}
.yp-search-setting-btn:hover a {color:#3b3a3a ;}

.yp-set-dropdown-btn-group { width:100%;float:left; text-align:left; margin-bottom:20px;}
.yp-set-dropdown-btn {width:100%; float:left;text-align:left; display:block; background:url(../images/yp-set-dropdown-btn-icon.png) no-repeat right 15px;
font-size:13px; border: solid 0px; padding:8px 16px; background-color:#f5f5f5;}
.yp-set-dropdown-btn-icon {margin-right:10px !important;}

	
	}